/* Reset mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout chính */
.layout {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #2b2d42;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.sidebar {
    position: fixed;
    z-index: 9999; /* ưu tiên cao nhất */
}
.overlay {
    pointer-events: none; /* không chặn click */
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #ffb703;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 8px 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.sidebar a:hover {
  background: #ffb703;
  color: #2b2d42;
}

/* Khu vực hiển thị nội dung */
.content {
  flex: 1;
  background: #edf2f4;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}
